<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#ffd57c" />
    <link rel="apple-touch-icon" href="./images/Ashen-Cecilia-icon_192.png">
    <meta name="apple-mobile-web-app-title" content="Ashen Cecilia">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="./images/Ashen-Cecilia-icon.png" type="image/png">
    <link rel="shortcut icon" href="./images/Ashen-Cecilia-icon.png" type="image/png" />
    <title>Ashen Cecilia</title>
    <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preload"
        href="https://fonts.gstatic.com/s/materialsymbolsoutlined/v76/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2"
        as="font" type="font/woff2" crossorigin>
    <meta name="keywords" content="Cecilia, Ashen, Food finder, Restaurant, Cafe resto">
    <link rel="manifest" href="manifest.json">
    <meta name="keywords" content="Cecilia, Ashen, Food finder, Cafe resto, Restaurants, Tirtha">
</head>

<body>
    <button class="skipToContent">Skip To Content</button>
    <header>
        <nav is="nav-bar"></nav>
        <jumbotron-header heading-text="Find a restaurant easly" sub-text="Selected restaurant recommendations"
            image-bg="./images/hero-image_2.jpg"></jumbotron-header>
    </header>
    <main>
        <item-list></item-list>
        <favorite-page id="favorite"></favorite-page>
        <item-overview id="overview"></item-overview>
    </main>
    <geting-name></geting-name>
    <alert-chip>Alert Chip</alert-chip>
    <footer is="footer-elem">
        <div class="image">
            <img src="./images/Cecilia-Flower.png" width="256" height="256" alt="">
        </div>
    </footer>
</body>

</html>